<app-one-item *ngFor="let oneItem of items; let i = index"
[oneItem]="oneItem"
(give)="addItem(i)">
</app-one-item>

<div>
  <div></div>
  <p>Order details</p>
  <div> <strong>{{ getTotalAmount() }}</strong>KGS</div>
</div>

