<div (click)="giveItem($event)">
  <div><strong><i>{{oneItem.name}}</i></strong></div>
  <img [src]="oneItem.icon" alt="" width="150px"  alt="{{oneItem.name}}" height="150px">
  <div><strong>{{oneItem.price}}</strong></div>
  <div>{{oneItem.count}}</div>
</div>
